<div class="dashboard-container">
  <div class="dashboard-content d-flex justify-content-between">
    <lib-graphcard
      title="Today’s Sales"
      subTitle="Sales Summery"
      [hasExportBtn]="true"
      width="877px"
      paddingHeader="23px 32px 43px"
      paddingCard="0 32px 32px"
    >
      <app-total-sales-graph [items]="items"></app-total-sales-graph>
    </lib-graphcard>

    <lib-graphcard
      title="Visitor Insights"
      width="575px"
      paddingHeader="24px 29px 8px"
      paddingCard="22px 21px 24px"
    >
      <app-visitor-insights></app-visitor-insights>
    </lib-graphcard>

    <lib-graphcard
      title="Total Revenue"
      width="629px"
      paddingHeader="26px 28px 25px"
      paddingCard="0 28px 28px"
    >
      <app-total-revenue></app-total-revenue>
    </lib-graphcard>

    <lib-graphcard
      title="Customer Satisfaction"
      width="420px"
      paddingHeader="25px 22px 19px"
      paddingCard="0 11px 16px"
    >
      <app-customer-satisfaction></app-customer-satisfaction>
    </lib-graphcard>

    <lib-graphcard
      title="Target vs Reality"
      width="371px"
      paddingHeader="25px 19px 11px"
      paddingCard="0 19px 21px 18px"
    >
      <app-target-reality></app-target-reality>
    </lib-graphcard>
  </div>
</div>
