@use '@angular/material' as mat;

:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html {
  font-family: 'Poppins', sans-serif;

  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fafbfc;
  }

  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$orange-palette,
        theme-type: light,
      ),
      typography: Poppins,
      density: 0,
    )
  );
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.mat-mdc-select-panel {
  background-color: #b5b6ff !important;
  padding: 8px !important;

  .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(
      .mat-mdc-option-multiple
    ) {
    background-color: #5d5fef !important;

    .mdc-list-item__primary-text {
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }

  .mat-mdc-option.mdc-list-item {
    border-radius: 16px;
    margin: 0 0 8px;

    &.none-label {
      display: none !important;
    }

    &.logout-label {
      background-color: #ff5d5d !important;

      .mdc-list-item__primary-text {
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    .mdc-list-item__primary-text {
      color: #fff;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
