.app-wrapper {
  display: flex;

  .lib-sidebar {
    width: 100%;
    max-width: 345px;
    flex-shrink: 0;
    background: #ffffff;
    position: sticky;
    height: fit-content;
    top: 0;
  }

  .page-content {
    width: 100%;
  }
}
